<!DOCTYPE html>
<html lang="ru">

<head>
    <link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Gorniac vape shop">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>КОРЗИНА</title>
    <link href="/static/css/style.css" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,700;1,300&display=swap"
        rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <!-- Header -->
    <header>
        <div class="container">
            <div class="header__inner">
                <div class="header__content">
                    <div class="header__name">
                        <h1>gorniac</h1>
                    </div>

                    <nav class="nav" id="nav">
                        <a href="/" class="nav__link"> каталог </a>
                        <a href="/about" class="nav__link"> о компании</a>
                        <a href="/news" class="nav__link"> новости</a>
                        <a href="/contacts" class="nav__link"> контакты</a>
                    </nav>
                    <div class="header__icons">
                        <a href="/profile" class="header__link"><img src="static/images/profile.png" alt=""
                                height="41px" width="41px"> </a>
                        <a href="/basket" class="header__link"><img src="static/images/basket.png" alt="" height="41px"
                                width="41px"></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <p class="name">{{ name }}</p>
        {% if message %}
            <p class="name warning">{{ message }}</p>
        {% endif %}
        <p class="basket__title">Ваша корзина:</p>
        {% for product_name, product_chars in products.items() %}
            <div class="basket__product">
                <p class="basket__name">{{ product_name }}:</p>
                <p class="product__price">{{ product_chars['price'] }}</p>
                <a href="/decrease_from_basket/product={{ product_name }}" class="basket__link">
                    <img src="static/images/minus.png" alt="" height="25px" width="25px">
                </a>
                <p class="product__amount">{{ product_chars['amount'] }}</p> 
                <a href="/increase_from_basket/product={{ product_name }}" class="basket__link">
                    <img src="static/images/plus.png" alt="" height="25px" width="25px">
                </a>
            </div>
        {% endfor %}
        <p class="total__price">Итого: {{ total }}</p>
        <div class="promo">
            <form action="/order" method="post" class="basket__form">
                <p class="promo__title"><strong>ПРОМОКОДЫ:</strong></p>
                <p>
                    <input type="radio" id="no" name="promocode" value="no" checked>
                    <label for="no">(нет)</label>
                </p>
                {% if promocodes %}
                    {% for promo, sale in promocodes.items() %}
                        <p>
                            <input type="radio" id="{{ promo }}" name="promocode" value="{{ promo }}">
                            <label for="{{ promo }}"> {{ sale }} руб.</label>
                        </p>
                    {% endfor %}
                {% endif %}
                <input type="submit" value="Заказать" class="basket__button">
            </form>
        </div>
    </div>
</body>
<footer>
</footer>

</html>