<div class="modal" id="">
    <div class="modal__dialog ">
        <div class="modal-work">
            <button class="modal__close" type="button" data-close>
                <img src="static/images/cancel.svg" alt="#">
            </button>
            <img class="modal-work__photo" src="">
        <div class="modal-work__content">
            <div class="modal-work__header">
                <h3 class="modal-work__title"></h3>
                <div class="modal-work__info">
                    Наличие
                    <span class="modal-work__divider">|</span>
                </div>
                <div class="modal-work__about-chars">
                    <div class="modal-work__about-chars-vgpg"></div>
                     <div class="modal-work__about-chars-nic"></div>
                     <div class="modal-work__about-chars-volume"></div>
                </div>
                <div class="modal-work__text">

                </div>
            </div>
            <div class="modal-work__footer">
                <a href="#" class="btn  btn__buy">в корзину</a>
            </div>
        </div>
        </div>

    </div>
</div>
